<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <title>CALENDAR</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">



</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/calendar}">Calendar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/register}">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/dates/save}">Add date</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br/><br/><br/>
<div>
  <p><a th:href="@{/calendar}"> Go to Now </a></p>

    <a id="elemIdMinus" href=""> <- </a>
  <text th:text ="${local.getMonth()}"></text>
    <a id="elemIdPlus" href=""> -> </a>
  <p th:text ="${local.getYear()}"></p>
</div>




<div style="display: flex; ">
  <div id="calendar">
  </div>
  <div id="dayof" hidden>
    Name:
    <br>
    Description:
    <br>
    Date:
    <br>
  </div>
  <div id="des">
  </div>
</div>


<script th:inline="javascript">
  function createCalendar(elem, year, month) {

    let mon = month - 1; // месяцы в JS идут от 0 до 11, а не от 1 до 12
    let d = new Date(year, mon);
    let days3 = "[[${days}]]".substring(1,"[[${days}]]".length-1).split(',');
    let dates2 = JSON.parse([[${datesjson}]]);



    let table = '<table><tr><th>пн</th><th>вт</th><th>ср</th><th>чт</th><th>пт</th><th>сб</th><th>вс</th></tr><tr>';

    // пробелы для первого ряда
    // с понедельника до первого дня месяца
    // * * * 1  2  3  4
    for (let i = 0; i < getDay(d); i++) {
      table += '<td></td>';
    }

    // <td> ячейки календаря с датами
    while (d.getMonth() == mon) {






      let a = '<td>'+d.getDate();
      if (days3.includes(d.getDate().toString())){
        for (let i=0;i<days3.length;i++){
          if(days3[i]==d.getDate())
            if (dates2[i].workbool==true)
              a+='<p><input type="button" class="button2" value="'+dates2[i].starttime+'" onclick="getDate(\''+i+'\');"  ></p>';
            else
          a+='<p><input type="button" class="button1" value="'+dates2[i].starttime+'" onclick="getDate(\''+i+'\');"  ></p>';
        }
        a+='</td>';

      }
      table +=a+'</td>';





      if (getDay(d) % 7 == 6) { // вс, последний день - перевод строки
        table += '</tr><tr>';
      }

      d.setDate(d.getDate() + 1);
    }

    // добить таблицу пустыми ячейками, если нужно
    // 29 30 31 * * * *
    if (getDay(d) != 0) {
      for (let i = getDay(d); i < 7; i++) {
        table += '<td></td>';
      }
    }

    // закрыть таблицу
    table += '</tr></table>';

    elem.innerHTML += table;
  }

  function getDay(date) { // получить номер дня недели, от 0 (пн) до 6 (вс)
    let day = date.getDay();
    if (day == 0) day = 7; // сделать воскресенье (0) последним днем
    return day - 1;
  }
  // function getDate(day){
  //   let dates = JSON.parse([[${datesjson}]]);
  //   // alert(JSON.stringify(dates[day]));
  //   dayof.innerHTML=(JSON.stringify(dates[day]));
  // }
  function getDate(day){
    let dates = JSON.parse([[${datesjson}]]);
    // alert(JSON.stringify(dates[day]));

    //dayof.innerHTML=(JSON.stringify(dates[day]));
    dayof.hidden=false;
    des.innerHTML=(dates[day].doname);
    des.innerHTML+=('<br>');
    des.innerHTML+=(dates[day].descrip);
    des.innerHTML+=('<br>');
    des.innerHTML+=(dates[day].starttime);
    des.innerHTML+=('<br>');
    des.innerHTML+=('<a id="elemEditHref" href="/dates/edit"> Edit date </a><br>');
    des.innerHTML+=('<a id="elemDeleteHref" href="/dates/delete"> Delete date </a>');
    const s = document.querySelector('#elemEditHref');
    s.href = `/dates/edit?dateId=${dates[day].id}`;
    const d = document.querySelector('#elemDeleteHref');
    d.href = `/dates/delete?dateId=${dates[day].id}`;
  }
  function getURL(){
    let link = window.location.href;
    let val = Number(link.split('/').pop());
    const a = document.querySelector('#elemIdMinus');
    a.href = `/calendar/${val-1}`;
    const b = document.querySelector('#elemIdPlus');
    b.href = `/calendar/${val+1}`;
  }

  getURL();
  createCalendar(calendar, "[[${local.getYear()}]]", "[[${local.getMonthValue()}]]");
</script>


<a th:href="@{/dates/save}">Add date</a>
</body>
</html>