@charset "UTF-8";

.button1 {
    background-color: #7bff90;
}

.button2 {
    background-color: #ff0017;
    display: flex;
    margin: 0;
}

body{
    background-color: darkgrey;
}

.table {
    margin: 0 auto 100px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    list-style-type: none;
  }

th,
tr,
td {
    height: 80px;
    width: 90px;
}

th {
background-color: rgb(11, 128, 182);
color: white;
}

td,
tr {
    color: rgb(11, 128, 182);
    background-color: white;
}

.calendar {
margin-right: 30px;
}